{% extends 'base.html'%}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block content %}

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Авторизация</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
				<div class="form-style-1 user-pro" action="#">
					<form action="#" class="user" method="post">
						{% csrf_token%}
						<div style="color:white">{{ error }}</div>
						{{form.as_p}}
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="Авторизоваться">
							</div>
						</div>
					</form>
				</div>
		</div>
	</div>
</div>
{% endblock %}